<!-- Modal Registro Insert o Update -->
<div class="modal-backdrop-custom"></div>
<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">       
        <h5 class="modal-title" id="registerModalLabel">{{ !isUpdate() ? 'Registrarse' : 'Actualizarse' }}</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close.emit()"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="backendMessage" class="alert alert-danger mb-2">
            {{ backendMessage }}
        </div>
        <form (ngSubmit)="onRegisterSubmit()"  #Registreform="ngForm">
          <div class="row">
            <div class="col-md-12">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="registerData.name"                
                     required minlength="3" maxlength="50" 
                     #nomField="ngModel"
                     (input)="onInputChange()"
                     name="name" id="name">
                     @if(nomField.invalid && nomField.touched) {      
                       @if(nomField.errors?.['required']) {
                         <div class="invalido">Rellene el nombre.</div>
                       }
                       @if(nomField.errors?.['minlength']) {
                         <div class="invalido">Mínimo obligado. {{ nomField.errors?.['minlength'].requiredLength }}</div>
                       }
                       @if(nomField.errors?.['maxlength']) {
                         <div class="invalido">Màximo obligado. {{ nomField.errors?.['maxlength'].requiredLength }}</div>
                       }    
                     }            
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">                        
              <label class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" [(ngModel)]="registerData.email"
                     required minlength="3" maxlength="50" 
                     #emailField="ngModel"
                     (input)="onInputChange()"
                     name="email" id="email">
                     @if(emailField.invalid && emailField.touched) {      
                        @if(emailField.errors?.['required']) {
                          <div class="invalido">Rellene el correou electrónico.</div>
                        }
                        @if(emailField.errors?.['minlength']) {
                          <div class="invalido">Mínimo obligado. {{ emailField.errors?.['minlength'].requiredLength }}</div>
                        }
                        @if(emailField.errors?.['maxlength']) {
                          <div class="invalido">Màximo obligado. {{ emailField.errors?.['maxlength'].requiredLength }}</div>
                        }    
                     }            
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">                                                
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" [(ngModel)]="registerData.password"
                     required minlength="3" maxlength="8" 
                     #passwordField="ngModel"
                     (input)="onInputChange()"
                     name="password" id="password">
            </div>
            <div class="col-md-6">
              <label class="form-label">Confirmar contraseña</label>
              <input type="password" class="form-control" [(ngModel)]="confirm"
                    #confirmField="ngModel"
                    (input)="onInputChange()"
                    name="confirm" id="confirm">              
            </div>     
            
            @if(passwordField.invalid && passwordField.touched) {      
              @if(passwordField.errors?.['required']) {
                <div class="invalido">Rellene la contraseña.</div>
              }
              @if(passwordField.errors?.['minlength']) {
                <div class="invalido">Mínimo obligado. {{ passwordField.errors?.['minlength'].requiredLength }}</div>
              }
              @if(passwordField.errors?.['maxlength']) {
                <div class="invalido">Màximo obligado. {{ passwordField.errors?.['maxlength'].requiredLength }}</div>
              }    
            }            

            <div *ngIf="confirmField.touched && !passwordsMatch()" class="text-danger mt-1">
                 <div class="invalido">Las contraseñas no coinciden.</div>
            </div>
          </div>
          <hr> 
          <div class="d-flex justify-content-between mb-2">
              <button type="submit" class="btn btn-outline-primary" [disabled]="!Registreform.valid || !passwordsMatch()">{{ !isUpdate() ? 'Registrarse' : 'Actualizarse' }}</button>
              <button type="button" class="btn btn-outline-secondary" (click)="close.emit()">Salir</button>                                                           
          </div>
          <div *ngIf="getError('email')" class="text-danger mt-1">
            {{ getError('email') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
