<div class="container-fluid mt-2">
  <div class="d-flex align-items-center">   
    <div class="btn-group" role="group" aria-label="Admin menu">
      <div
        [ngClass]="id_usuari === 0
          ? 'ms-2 p-2 text-danger bg-dark rounded d-inline-block'
          : 'ms-2 p-2 bg-dark text-warning rounded d-inline-block'">
        <span>{{ usuari }}</span>      
        <i *ngIf="id_usuari !== 0" class="bi bi-person-circle ms-2 cursor-pointer" style="cursor:pointer" (click)="mostrarRegister = true"></i>
      </div>
    </div>

    <button
      type="button"
      class="ms-auto btn btn-outline-danger"
      (click)="tornar()">
      Salir
    </button>

  </div>
</div>
<hr>

<!-- Calendario -->
<div class='container-fluid mt-4'>
  <full-calendar [options]='calendarOptions()' #calendar>
    <ng-template #eventContent let-arg>
      <b>{{ arg.timeText }}</b>
      <i>{{ arg.event.title }}</i>
    </ng-template>
  </full-calendar>
</div>

<hr>

<footer class="bg-light border-top py-3">
  <div class="container-fluid">    
    <h2 class="mb-3">Salas disponibles </h2>
    <div class="row align-items-start">
      <div class="col">
        <div class="d-flex gap-3 overflow-auto pb-2">
          @for (sala of sales; track sala.id) {
            <div style="min-width: 220px; max-width: 220px;">
              <div class="card h-100 border-secondary shadow-sm">
                <!-- HEADER -->
                <div class="card-header text-white px-3 py-2"  [ngStyle]="{ 'background-color': sala.color }">
                  <div class="d-flex align-items-center gap-2">
                    <i class="bi bi-door-open-fill text-black"></i>
                    <span class="fw-semibold small text-black">
                      {{ sala.descripcio }}
                    </span>
                  </div>
                </div>
                <!-- BODY -->
                <div class="card-body p-2">
                  <p class="mb-1 small">
                    <strong>Horario:</strong>
                    {{ sala.horari==1?'1 hora':'½ hora' }}
                    <strong>Capacidad:</strong>
                    {{ sala.max_ocupacio }}
                  </p>
                  <p class="mb-2 text-muted small">
                    <i class="bi bi-calendar-event me-1"></i>
                    {{ sala.reservas_mes }} reservas
                  </p>
                  <div class="d-grid">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="getSala(sala.id)">Ver sala</button>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="col-auto d-flex align-items-start">
        <button type="button" class="btn btn-primary" (click)="reserva(true)" *ngIf="id_usuari !== 0"> <i class="bi bi-plus-lg me-1"></i>Nueva Reserva</button>
        <button type="button" class="btn btn-primary" (click)="mostrarLogin = true" *ngIf="id_usuari === 0"><i class="bi bi-plus-lg me-1"></i>Nueva Reserva</button>
      </div>
    </div>
  </div>
</footer>

  <!-- Modal Login -->
  <app-login-modal
    *ngIf="mostrarLogin"
    (logged)="onLogin($event)"
    (registrarse)="mostrarRegister = true"
    (close)="mostrarLogin = false">
  </app-login-modal>   
  
  <!-- Registar Insert / Update -->
  <app-register-modal 
    *ngIf="mostrarRegister"
    [user]="registerData"
    (saved)="onUserUpdated($event)"
    (close)="mostrarRegister = false">
  </app-register-modal>

  <!-- Mostrar dia -->
  <app-mostrar-dia-modal
    *ngIf="mostrarDia"
    [dia]="dia"
    [miraDia]="mira_dia"
    (close)="mostrarDia = false">
  </app-mostrar-dia-modal>

  <!-- Modal Sala -->
  <app-sala-modal
    *ngIf="mostrarSala"
    [sala]="salaSeleccionado"
    [complements]="complements"
    (close)="mostrarSala = false">
  </app-sala-modal>
  
  <!-- Reserva modal -->
  <app-reserva-modal         
    *ngIf="mostrarReserva"
    [form]="reservaForm"    
    [esMismaFecha]="esMismaFecha"
    [sales]="sales"
    [complements]="complements"
    [miraDia]="mira_dia"
    [mostrarHourGrid]="mostrarHourGrid"
    [mostrarPeu]="mostrarPeu"
    [preuTotal]="preu_sala_total"
    [errorEntrada]="errorEntrada"
    [missatge]="missatge"
    [altaReserva]="alta_reserva"
    [selectedComplements]="selectedComplements"
    [isNew]="alta_reserva === '0'"
    [totalPrecio]="preu_sala_total"
    [canDelete]="canDeleteReserva()"
    [hasError]="errorEntrada !== ''"
    [showReviews]="verResenas"
    [erroresConsulta]="datosConsulta"
    (close)="tancarSala()"
    (save)="desarSala()"
    (saveOpinion)="guardarOpinion()"
    (frecuenciaChange)="reserva(false)"
    (salaChange)="actualizarMaximo()"
    (changeSala)="actualizarMaximo()"
    (toggleHora)="triaHora($event)"
    (toggleComplement)="onToggleComplement($event)"
    (borrar)="treureSala()"
    (opinion)="ponOpinion()">  
  </app-reserva-modal>