<h1>Complementos</h1>

<div class="container mt-4">  

  <button type="button" class="btn btn-success mb-3" (click)="obrirModal('0')">
    Crear nuevo complemento
  </button>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>        
          <th>Nombre</th>
          <th>Precio</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(complement of complements | paginate: { itemsPerPage: 5, currentPage: paginaActual };  track complement.id; let id_complement = $index) {
        <tr>        
          <td class="w-50">{{ complement.descripcio }}</td>
          <td class="w-10 text-end">{{ complement.preu | PipePreu }} €</td>
          <td class="w-10 text-center">
            <span [class.text-success]="complement.actiu == 'SI'" [class.text-danger]="complement.actiu != 'NO'">
              {{ complement.actiu }}
            </span>
          </td>
          <td class="w-10 text-center">
            <button class="btn btn-primary btn-sm w-100 mb-2" (click)="obrirModal(complement.id)">
              <i class="bi bi-pencil-square"></i> Modificar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <pagination-controls 
      (pageChange)="paginaActual = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPageLabel="Página"
      screenReaderCurrentLabel="Página Actual"></pagination-controls>
  </div>  
</div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" id="modalNuevoComplemento" [ngClass]="{ 'show d-block': modalVisible }">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning">
          <form  [formGroup]="complement" (ngSubmit)="saveComplement()">
            <div class="modal-header">
              <h5 class="modal-title">
                {{ complement.get('id')?.value == '0' ? 'Crear Complemento' : 'Modificar Complemento' }}
             </h5>
              <button type="button" class="btn-close" (click)="tancarModal()"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <label>Nombre</label>
                  <input type="text" class="form-control" formControlName="descripcio" id="descripcio">
                  @if(complement.get('descripcio')?.touched && complement.get('descripcio')?.invalid) {
                    <div class="invalido">
                      @if(complement.get('descripcio')?.errors?.['required']) {
                        Rellene la descripción del complemento.  
                      }
                      @if(complement.get('descripcio')?.errors?.['minlength']) {
                        Mínimo obligado. {{ complement.get('descripcio')?.errors?.['minlength'].requiredLength }} 
                      }
                      @if(complement.get('descripcio')?.errors?.['maxlength']) {
                        Màximo obligado. {{ complement.get('descripcio')?.errors?.['maxlength'].requiredLength }}  
                      }                      
                    </div>
                  }                  
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-3 mb-3">
                  <label>Precio</label>
                  <input type="text" class="form-control" formControlName="preu" id="preu">
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <label>Activo</label>
                  <select class="form-select" formControlName="actiu" id="actiu">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                  </select>
                </div>
                 @if(complement.get('preu')?.touched && complement.get('preu')?.invalid) {                
                    <div class="invalido">
                      @if(complement.get('preu')?.errors?.['pattern']) {
                        Solo està permitido números y el punto decimal.
                      }
                    </div>                
                 }
              </div>              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" [disabled]="!complement.valid">Grabar</button>
              <button type="button" class="btn btn-secondary" (click)="tancarModal()">Cancelar</button>
            </div>
          </form>          
        </div>
      </div>
    </div>

  