<h1>Edificis</h1>
<div class="container mt-4">
  
  <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#modalNuevoEdificio" (click)="obrirModal('0')">
    Crear nou edifici
  </button>

  <div class="row">
    @for (edifici of edificis; track edifici.id; let id_edifici = $index) {
      <div class="col-md-4">
        <div class="card mb-3">            
          <img src="{{ edifici.imatge }}" class="card-img-top" alt="Foto del edificio">           
          <div class="card-body">
            <h5 class="card-title">{{ edifici.nom }}</h5>
            <p class="card-text">{{ edifici.descripcio }}</p>
            <button class="btn btn-primary" (click)="obrirModal(edifici.id)">Modificar</button>
          </div>
        </div>
      </div>
    }
  </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" [ngClass]="{ 'show d-block': modalVisible }">
      <div class="modal-dialog">
        <div class="modal-content bg-warning">
          <form (ngSubmit)="saveEdifici()" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title">
                {{ edificioSeleccionado.id == '0' ? 'Crear Edifici' : 'Modificar Edifici' }}
             </h5>
              <button type="button" class="btn-close" (click)="tancarModal()"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label>Nom</label>
                <input type="text" class="form-control" [(ngModel)]="edificioSeleccionado.nom" name="nom" id="nom">
              </div>
              <div class="mb-3">
                <label>Provincia</label>
                <select class="form-select" [(ngModel)]="edificioSeleccionado.id_provincia" name="id_provincia" id="id_provincia">
                    @for(pro of provincies; track pro.id ) {
                      <option [value]="pro.id">{{ pro.nom }}</option>
                    }
                </select>
              </div>
              <div class="mb-3">
                <label>Foto URL</label>
                <input type="file" (change)="onFileSeleccionada($event)" class="form-control mb-2">
                <div *ngIf="previewUrl" class="mb-3">                    
                    <img [src]="previewUrl" class="img-thumbnail" width="200">
                </div>                                                                              
              </div>
              <div class="mb-3">
                <label>Descripció</label>
                <textarea class="form-control" [(ngModel)]="edificioSeleccionado.descripcio" name="descripcio" id="descripcio"></textarea>
              </div>
              <div class="col-xl-2">
                <label>Actiu</label>
                <select class="form-select" [(ngModel)]="edificioSeleccionado.actiu" name="actiu" id="actiu">
                      <option value="SI">SI</option>
                      <option value="NO">NO</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-secondary" (click)="tancarModal()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  