<h1>Edificios</h1>
<div class="container mt-4">
  
  <button type="button" class="btn btn-success mb-3" (click)="obrirModal('0')">
    Crear nuevo edificio
  </button>

  <div class="row">
    @for (edifici of edificis; track edifici.id; let id_edifici = $index) {
      <div class="col-md-4">
        <div class="card mb-3">            
          <img src="{{ edifici.imatge }}" class="card-img-top" alt="Foto del edificio">           
          <div class="card-body">
            <h5 class="card-title">{{ edifici.nom }}</h5>
            <p class="card-text">{{ edifici.descripcio }}</p>
            <button class="btn btn-primary" (click)="obrirModal(edifici.id)">Modificar</button>
          </div>
        </div>
      </div>
    }
  </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" [ngClass]="{ 'show d-block': modalVisible }">
      <div class="modal-dialog">
        <div class="modal-content bg-warning">
          <form (ngSubmit)="saveEdifici()" enctype="multipart/form-data" #form="ngForm">
            <div class="modal-header">
              <h5 class="modal-title">
                {{ edificioSeleccionado.id == '0' ? 'Crear Edificio' : 'Modificar Edificio' }}
             </h5>
              <button type="button" class="btn-close" (click)="tancarModal()"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <label>Nombre</label>
                  <input type="text" class="form-control" [(ngModel)]="edificioSeleccionado.nom" 
                      required minlength="3" maxlength="50"
                      #nomField="ngModel"                  
                      name="nom" id="nom">

                      @if(nomField.invalid && nomField.touched) {      
                         @if(nomField.errors?.['required']) {
                            <div class="invalido">Rellene el nombre del edificio.</div>
                        }
                        @if(nomField.errors?.['minlength']) {
                            <div class="invalido">Mínimo obligado. {{ nomField.errors?.['minlength'].requiredLength }}</div>
                        }
                        @if(nomField.errors?.['maxlength']) {
                          <div class="invalido">Màximo obligado. {{ nomField.errors?.['maxlength'].requiredLength }}</div>
                        }                 
                      }

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Provincia</label>
                  <select class="form-select" [(ngModel)]="edificioSeleccionado.id_provincia" name="id_provincia" id="id_provincia">
                      @for(pro of provincies; track pro.id ) {
                        <option [value]="pro.id">{{ pro.nom }}</option>
                      }
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Fotografia </label>
                  <input type="file" (change)="onFileSeleccionada($event)" class="form-control mb-2">
                  <div *ngIf="previewUrl" class="mb-3">                    
                      <img [src]="previewUrl" class="img-thumbnail" width="200">
                  </div>                                                                              
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Descripción</label>
                  <textarea class="form-control" [(ngModel)]="edificioSeleccionado.descripcio" name="descripcio" id="descripcio"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Activo</label>
                  <select class="form-select" [(ngModel)]="edificioSeleccionado.actiu" name="actiu" id="actiu">
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label>Latitud</label>
                  <input type="text" class="form-control" [(ngModel)]="edificioSeleccionado.latitud" 
                      required minlength="1" maxlength="8" name="latitud" id="latitud">
                </div>   
                <div class="col-md-3">
                  <label>Longitud</label>
                  <input type="text" class="form-control" [(ngModel)]="edificioSeleccionado.longitud" 
                      required minlength="1" maxlength="8" name="longitud" id="longitud">
                </div>                                            
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" [disabled]="!form.valid">Grabar</button>
              <button type="button" class="btn btn-secondary" (click)="tancarModal()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  