<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminMenu"
      aria-controls="adminMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminMenu">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <button class="btn btn-link nav-link menu-btn" (click)="selectOption('complements')">Complementos</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link menu-btn" (click)="selectOption('edificis')">Edificios</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link menu-btn" (click)="selectOption('sales')">Salas</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link menu-btn" (click)="selectOption('comentaris')">Comentarios</button>
        </li>
      </ul>

      <!-- Botón salir -->
      <button class="btn btn-outline-danger" (click)="logout()">Salir</button>
    </div>
  </div>
  
</nav>
