.menu-btn {
    border: 1px solid transparent; 
    border-radius: .25rem;
    padding: .375rem .75rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-btn:hover {
    background-color: #ffc107; 
    color: #000;               
    border-color: #ffc107;     
  }
  